{% extends 'admin/layouts/app.html' %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Programs Details <i class="feather icon-archive"></i></h4>
                <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li><a data-action="collapse"><i class="feather icon-chevron-down"></i></a></li>
                        <li><a data-action="expand"><i class="feather icon-maximize"></i></a></li>
                        <li><a data-action="reload"><i class="feather icon-rotate-cw"></i></a></li>
                        <li><a data-action="close"><i class="feather icon-x"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="card-content collapse show">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="table-responsive">
                                <div class="row" style="width: 100%;">
                                    <div class="col-6">
                                        <p><h5>Department Name: </h5>{{ program.department.name|upper }}</p>
                                    </div>
                                    <div class="col-6">
                                        <p><h5>Program Code: </h5>{{ program.program_id|upper }}</p>
                                    </div>
                                    <div class="col-6">
                                        <p><h5>Program Name: </h5>{{ program.name|upper }}</p>
                                    </div>
                                    <div class="col-6">
                                        <p><h5>Duration Year: </h5>{{ program.duration_year|upper }}</p>
                                    </div> 
                                    <div class="col-6">
                                        <p><h5>Total Credits: </h5>{{ program.total_credits|upper }}</p>
                                    </div> 
                                    <div class="col-6">
                                        <p><h5>Degree Type: </h5>{{ program.degree_type|upper }}</p>
                                    </div>                                                                                                                                                                               
                                    <div class="col-12">
                                        <p><h5>Program Description: </h5>{{ program.program_description|upper }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <a href="{% url 'programs_index' %}" class="btn btn-primary mr-1 mb-1 waves-effect waves-light"><i class="feather icon-arrow-left"></i>  Back to List</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
