{% extends 'admin/layouts/app.html' %}

{% block css %}
<style>
    .toast {
        color: #000; /* Set text color to black */
        background-color: #fff; /* Set background color to white */
    }
    .toast-title {
        color: #000; /* Title text color */
    }
    .toast-message {
        color: #000; /* Message text color */
    }
    .toast-close-button {
        color: #000; /* Close button color */
    }
</style>
{% endblock %}

{% block content %}
<section id="edit-departassign">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Edit Department Assign <i class="feather icon-edit"></i></h4>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <form method="POST" action="{% url 'departAssign_edit' assign.pk %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            <fieldset>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="department">Department Name *</label>
                                            <select name="department" class="form-control">
                                                <option value="">- select -</option>
                                                {% for depart in departments %}
                                                    <option value="{{ depart.id }}" {% if assign.department.id == depart.id %}selected{% endif %}>{{ depart.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                        
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="faculty">Faculty Name *</label>
                                            <select name="faculty" class="form-control">
                                                <option value="">- select -</option>
                                                {% for faculty in faculties %}
                                                    <option value="{{ faculty.id }}" {% if assign.faculty.id == faculty.id %}selected{% endif %}>{{ faculty.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                        
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="assign_date">Assign Date *</label>
                                            <input type="date" name="assign_date" value="{{ assign.assign_date|date:'Y-m-d' }}" class="form-control">
                                        </div>
                                    </div>
                        
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="position">Position *</label>
                                            <input type="text" name="position" value="{{ assign.position }}" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-primary mr-1  waves-effect waves-light">Update</button>
                                <a href="{% url 'departAssign_index' %}" class="btn btn-secondary">Cancel</a>
                            </div>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
